.head{
    font-family: Anton;
    font-size: 40px;
    text-align: center;
    color: black;
}

.billboard-post{
    border: 2px solid #00b7ef;
    Max-width: 800px;
    margin: 20px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.date{
    font-family: Poiret One;
    font-size: 16px;
    color: black;
    margin-top: -10px;
    margin-left: 10px;
    background: white;
    width: 180px;
}

.title{
    font-family: Anton;
    font-size: 30px;
    Color:#00b7ef;
    text-align: left;
    margin-left: 10px;
}

.message{
    font-family: Arial;
    font-size : 16px;
    Color: #c1bfc0;
    text-align: center;
    margin-left: 10px;
}

.author{
    Font-family: Pinyon Script;
    font-size : 24px;
    Color : black;
    text-align: right;
    margin-right: 10px;
}

.btn{
    font-size : 16px;
    background : #66CDAA;
    border-radius :3px;
    margin-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    margin: 0 auto;
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fa{
    font-size : 16px;
    color: white;

}

.buttonDiv{
    max-width: 800px;
    border: 1px dashed black;
    height: 50px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.beforePost{
    border: 2px dashed #00b7ef;
    Max-width: 800px;
    margin: 20px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

#id_title{
    float: left;
    display: block;
    padding-right: 200px;
    height:20px;
    margin-left: 20px;
}

#id_message{
   float: inherit;
    display: block;
    width: inherit;
    margin: 20px;
    padding-right: 40%;
    padding-bottom: 100px;
}

#id_author{
    float: right;
    display: block;
    margin-top: 100px;
}

.no{
    display: inline-block;
    background: red;
    height: 30px;
    width: 30px;
    border-radius: 3px;
}

.fa-times{
    margin-top: 5px;
}
.beforePost{
    display: none;
}
.post-btn{
    margin-top:80px;
    margin-bottom: 20px;
}
form p{
    height: 20px;
}