{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Pinyon+Script|Poiret+One" rel="stylesheet">


</head>
<body>
<h1 class="head">Billboard</h1>

{% for post in posts %}
<div class="billboard-post">
<p class="date">{{post.date}}</p>
    <p class="title">{{post.title}}</p>
    <p class="message">{{post.message}}</p>
    <p class="author">{{post.author}}</p>

</div>


{% endfor %}

<div class="buttonDiv ">
    <div class="btn one"><i class="fa fa-plus" aria-hidden="true"></i></a></div>

    </div>





<div class="beforePost">
    <p class="date">{{datec}}</p>


<form method="POST" action="{% url 'app_post' %}" class="post-form" >{% csrf_token %}

{{ form.as_p }}
<div class="post-btn">
<div class="no"><i class="fa fa-times" aria-hidden="true"></i></div>
    <button type="submit" class="save btn btn-default"><i class="icon-check"></i>Post Form</button>
</div>
</form>

</div>

</body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="{% static 'javascript/main.js' %}"></script>
</html>