{#{% load staticfiles %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#    <link rel="stylesheet" href="{% static 'css/style.css' %}">#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#    <link href="https://fonts.googleapis.com/css?family=Anton|Pinyon+Script|Poiret+One" rel="stylesheet">#}
{##}
{#</head>#}
{#<body>#}
{##}
{# <p class="date">{{post.date}}</p>#}
{#<form method="POST">{% csrf_token %}#}
{##}
{##}
{##}
{#<div class="beforePost">#}
{##}
{#{{ form.as_p }}#}
{##}
{##}
{#</div>#}
{##}
{#</form>#}
{##}
{##}
{#</body>#}
{#</html>#}